/* Dashboard css*/

#dashboardMainContainer {
    display: flex;
    flex-direction: row;
}

.dashboard_sidebar {
    width: 20%;
    background-color: #323232;
    height: 200vh;
}

.dashboard_content_container {
    width: 70%;
}

h3.dashboard_logo {
    color: #f685a1;
    font-size: 20px;
    text-align: center;

}


.dashboard_sidebar_user {
    text-align: center;
    position: relative;
    padding-bottom: 20px;
    border-bottom: 2px solid #fff;
}

.dashboard_sidebar_user .img {
    width: 80px;
    display: inline-block;
    border-radius: 50%;
    border: 2px solid #f685a1;
    margin-right: 5px;
}

.dashboard_sidebar_user span {
    top: 20%;
    font-size: 18px;
    text-transform: uppercase;
    color: #fff;
    display: inline-block;
}

ul.dashboard_menu_lists {
 margin-top: 20px;
}


ul.dashboard_menu_lists li {
    padding: 15px 15px;
    text-transform: uppercase;
}

ul.dashboard_menu_lists li a {
    text-decoration: none;
    color: #fff;
    display: block;
    font-size: 25px;

}

ul.dashboard_menu_lists li:hover {
    background: #f685a1;
    color: #fff;
}